<div class="table-container">
    <table id="calc_pens_mainTableHelper" class="report-table">
        <thead>
            <tr>
                <th class="sticky-col sticky-header" rowspan="2">Ид</th>
                <th class="sticky-col sticky-header" rowspan="2" style="white-space: normal">Дата рождения</th>
                {% if columns %}
                    {% for year, cols in columns.items() %}
                    <th colspan="{{ cols|length }}">
                        {{ year }}
                    </th>
                    {% endfor %}
                {% endif%}
            </tr>
            <tr>
                {% if columns %}
                    {% for year, cols in columns.items() %}
                        {% for col in cols %}
                        <th>{{ col.split('_', 1)[1] }}</th>
                        {% endfor %}
                    {% endfor %}
                {% endif%}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td class="sticky-col">{{ row.get('Ид', '') }}</td>
                <td class="sticky-col">{{ row.get('Дата рождения', '') }}</td>
                {% for year, cols in columns.items() %}
                {% for col in cols %}
                <td style=" text-align: right; min-width: 128px; white-space: nowrap;">
                    {{ row.get(col, '') }}
                </td>
                {% endfor %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>