.filter-panel {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 8px 12px;
    font-size: 14px;
}

.filter-panel label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.filter-panel input {
    padding: 4px 8px;
    border-radius: 4px;
    width: 120px;
}

.filter-panel button {
    padding: 6px 12px;
    border: none;
/*    background-color: #cde2d3;*/
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

/*.filter-panel button:hover {
    background-color: #b9d5c4;
}
*/