@import url('/static/common_style/main.css');
@import url('/static/common_style/forms.css');
@import url('/static/common_style/table_styles.css');
@import url('/static/common_style/button.css');
@import url('/static/common_style/images.css');
@import url('/static/common_style/elements.css');
@import url('/static/common_style/menu.css');
@import url('/static/common_style/main_page.css');
@import url('/static/common_style/modal.css');
@import url('/static/common_style/filters.css');

