.dropdown.disabled {
    pointer-events: none; /* блокирует все клики внутри */
    opacity: 0.5; /* визуально серое */
}
.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    z-index: 100;
    overflow: hidden;
}
.dropdown-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.dropdown-content a {
    margin: 1px;
    padding: 6px 12px;
    font-size: 18px;
    text-decoration: none;
    text-align: left;
    text-indent: 0;
    display: block;
    box-sizing: border-box;
    text-shadow: none;
    /*    align-items: start;*/
    gap: 10px;
    transition: background 0.5s, color 0.8s;
}


