table {
    width: 100%;
    border-collapse: collapse;
    text-shadow: none;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
    display: block;
    max-height: calc(100vh - 186px);
}
/* Основная таблица */
.report-table {
    width: max-content;
    border-collapse: collapse;
    table-layout: auto;
}

/* Все ячейки */
/*.report-table th,
.report-table td {
    border: 1px solid #ccc;
    padding: 4px 8px;
    white-space: nowrap;
    background-color: inherit;
}*/

/* Заголовки */
/*.report-table th {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}*/

/* Фиксированные строки (верхняя строка) */
.report-table th.sticky-header {
    position: sticky;
    top: 0;
    z-index: 3;
}

/* Фиксированные колонки */
.report-table th.sticky-col,
.report-table td.sticky-col {
    position: sticky;
    z-index: 2;
    min-width: 100px;
    max-width: 100px;
    box-shadow: 2px 0 5px -2px rgba(0,0,0,0.1);
}

/* Комбинация: фиксированная строка + колонка */
.report-table th.sticky-col.sticky-header {
    z-index: 4;
}

/* Первая фиксированная колонка */
.report-table th.sticky-col:nth-child(1),
.report-table td.sticky-col:nth-child(1) {
    left: 0;
}

/* Вторая фиксированная колонка */
.report-table th.sticky-col:nth-child(2),
.report-table td.sticky-col:nth-child(2) {
    left: 100px;
}



/*        */
.my_stick_head {
    position: sticky;
    top: 0;
    z-index: 2;
    border: 1px solid grey;
}

tr > th {
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid grey;
    white-space: normal;
}
tr > td {
    margin-left: 4px;
    padding: 3px 4px;
    font-size: 18px;
    text-align: center;
    white-space: normal;
}
tr.disabled-row:hover {
    background-color: inherit;
    box-shadow: none;
}

/*.news-container {
    max-height: 830px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}
.news-tbody {
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
}*/
.table-scroll-800 {
    height: 830px;
    overflow-y: auto;
}
.table-scroll-800 tbody tr:nth-child(even) {
    /*background: #f3f3f3;*/
    /*background-color: rgb(0, 255, 0, 0.07);*/
}
/* Стили для скролла */
::-webkit-scrollbar {
    width: 2px;
}
/*Меняем алгоритм расчета длины и 
высоты элемента с контента (width), 
значения отступов (margin), 
полей (padding) и границ (border) 
на размеры блока. В секции  main.css это не работает!!! */
*, *:after, *:before {
    box-sizing: border-box;
}
reports > a {
    font-size: 20px;
    text-decoration: none;
    align-items: center;
    padding: 5px 5px 5px 10px;
    display: block;
    border: inherit;
    border-radius: inherit;
    text-shadow: 1px 1px 3px grey;
    /*text-shadow: none;*/
}

reports > a:hover {
    text-decoration: none;
    border-radius: 4px;
}