{% extends 'base.html' %}

{% block title %}
{{ res_value('BASE_SOLIDARY') }}
{% endblock %}

{% block main_title %}
{{ res_value('BASE_SOLIDARY') }}
{% endblock %}

{% block link_style %}
    <!--<link rel="stylesheet" type="text/css" href="/static/common_style/filters.css">
    <link rel="stylesheet" type="text/css" href="/static/{{session['style']}}/filters.css">-->
{% endblock %}

{% block body %}
<div id="calc_base_solidary_MenuZone" class="filter-panel" style="padding: 2px">
    <div data-role="menu-calc"
         data-action="/calculate_base_solidary"
         data-url="/calculate_base_solidary"
         data-target="calc_base_solidary_mainBody"
         data-track="true"
         data-task="'Прогнозирование пенсионных расходов'"
         style="min-width: 200px; display: inline-block;; margin-left: 5px">
        <input type="hidden" name="menuValuePeriod" id="menuValuePeriod">
        <button style="border: 1px solid lightgray; min-width: 160px; font-weight: bold"
                type="button"
                id="menuCalcButton">
            <i class="fas fa-filter"></i>
            <span class="label">{{ res_value('CALCULATION_PERIOD') }}</span>
        </button>
    </div>

    <div data-role="menu-print"
         data-url="/print_base_solidary"
         data-track="true"
         style="min-width: 200px; display: inline-block; margin-left: 10px">
        <input type="hidden" name="menuValuePrint" id="menuValuePrint">
        <button style="display: inline-block; border: 1px solid lightgray; min-width: 160px; font-weight: bold"
                type="button"
                id="menuPrintButton">
            <i class="fas fa-filter"></i>
            <span class="label">{{ res_value('PRINT_PERIOD') }}</span>
        </button>
    </div>

    <div id="status" style="font-size: 18px"></div>

</div>
<!--<div class="container">-->
<div id="calc_base_solidary_mainBody">
    <div class="table-container">
        <table id="calc_base_solidary_mainTableHelper" class="report-table">
            <thead>
                <tr>
                    <th class="sticky-col sticky-header">Показатели</th>
                    {% if rows %}
                    {% for year in rows[0].keys() if year != 'metric_name' %}
                    <th>
                        {{ year }}
                    </th>
                    {% endfor %}
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% if rows %}
                {% for row in rows %}
                {# вычисляем индекс #}
                {% set idx = loop.index0 %}
                {% set total = rows|length %}

                <tr {% if idx>= total - 2 %}
                    style="font-weight:bold; color:#228B22; padding:10px 8px;s"   {# последние две строки — жирный, зеленый #}
                    {% elif idx % 2 == 0 %}
                    class="row-1"          {# чётные строки — светло-зелёные #}
                    {% else %}
                    class="row-2"          {# нечётные строки — чуть темнее зелёные #}
                    {% endif %}
                    >
                    <td class="sticky-col" style="text-align: left; min-width: 256px; white-space: normal; word-wrap: break-word;">
                        {{ row['metric_name'] }}
                    </td>
                    {% for year in row.keys() if year != 'metric_name' %}
                    <td style="text-align: right; min-width: 128px; white-space: nowrap;">
                        {{ row.get(year,'') }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                {% endif %}

            </tbody>
        </table>
    </div>
</div>
<!--</div>-->
<script type="module" id="pageScript" data-page="calc_base_solidary" src="static/js/main.js"></script>
{% endblock %}
