{% extends 'base.html' %}

{% block title %}
{{ res_value('PENS_FOND') }}
{% endblock %}

{% block main_title %}
{{ res_value('PENS_FOND') }}
{% endblock %}

{% block link_style %}
<!--<link rel="stylesheet" type="text/css" href="/static/common_style/filters.css">
<link rel="stylesheet" type="text/css" href="/static/{{session['style']}}/filters.css">-->
{% endblock %}

{% block body %}
<div id="calc_pens_FilterZone" style="display: flex; padding: 2px; gap: 12px; align-items: center; font-size: 18px; font-weight: bold">
    <label style="margin-left: 5px;">
        Ид:
        <input id="filter-id"
               style="margin-left: 5px; font-size: 18px; width: 180px; border: 1px solid #ccc; border-radius: 4px; padding: 4px 10px"
               data-role="filter-input"
               data-url="/filter-pens-id"
               data-target="calc_pens_mainBody"
               type="text" placeholder="Введите Ид">
    </label>

    <label style="margin-left: 10px; font-weight: bold">
        Год рождения:
        <input id="filter-year"
               style="margin-left: 5px; font-size: 18px; width: 88px; border: 1px solid #ccc; border-radius: 4px; padding: 4px 10px"
               data-role="filter-input"
               data-url="/filter-pens-year"
               data-target="calc_pens_mainBody"
               type="number" placeholder="1964">
    </label>

    <div data-role="menu-calc"
         data-action="/start_task"
         data-work-url="/calculate_pens"
         data-target="calc_pens_mainBody"
         data-track="true"
         data-task="'Прогнозирование пенсионных расходов'"
         data-session-scenario="{{ session['scenario'] }}"
         style="min-width: 200px; margin-left: 10px" class="dropdown">
        <input type="hidden" name="menuValuePeriod" id="menuCalcPeriodInput">
        <button style="display: inline-block; border: 1px solid lightgray; min-width: 160px; padding: 4px 16px; font-weight: bold" 
                type="button"
                class="dropdown-button"
                id="menuCalcButton"> 
            <i class="fas fa-filter"></i>
            <span class="label">{{ res_value('CALCULATION_PERIOD') }}</span>
            <span style="display: inline-block; margin-left: 5px;" class="caret"></span>
        </button>
        <div style="min-width: 220px; margin-left: 3px" class="dropdown-content">
            <a data-value="filter" data-label="{{res_value('PERIOD_BY_FILTER')}}"><i class="fas fa-home"></i>{{res_value('PERIOD_BY_FILTER')}}</a>
            <a data-value="all" data-label="{{res_value('PERIOD_ALL')}}"><i class="fas fa-envelope"></i>{{res_value('PERIOD_ALL')}}</a>
        </div>
    </div>

    <!--<button onclick="triggerCalculation()">Расчёт</button>-->
    <!--<button onclick="window.print()">Печать</button>-->
    <div data-role="menu-print"
         data-url="/print_pens"
         data-track="true"
         style="min-width: 200px; margin-left: 10px" class="dropdown">
        <input type="hidden" name="menuValuePrintPeriod" id="menuValuePrintPeriod">
        <button style="display: inline-block; border: 1px solid lightgray; min-width: 160px; padding: 4px 16px; font-weight: bold" 
                type="button"
                id="menuPrintButton">
            <i class="fas fa-filter"></i>
            <span class="label">{{ res_value('PRINT_PERIOD') }}</span>
            <span style="display: inline-block; margin-left: 5px;" class="caret"></span>
        </button>
        <div style="min-width: 200px; margin-left: 3px" class="dropdown-content">
            <a data-value="filter" data-label="{{res_value('PRINT_BY_FILTER')}}"><i class="fas fa-home"></i>{{res_value('PRINT_BY_FILTER')}}</a>
            <a data-value="all" data-label="{{res_value('PRINT_ALL')}}"><i class="fas fa-envelope"></i>{{res_value('PRINT_ALL')}}</a>
        </div>
    </div>

    <div id="status" style="font-size: 18px"></div>

</div>
<!--<div class="container">-->
<div id="calc_pens_mainBody">
    <div class="table-container">
        <table id="calc_pens_mainTableHelper" class="report-table">
            <thead>
                <tr>
                    <th class="sticky-col sticky-header" rowspan="2">Ид</th>
                    <th class="sticky-col sticky-header" rowspan="2" style="white-space: normal">Дата рождения</th>
                    {% for year, cols in columns.items() %}
                    <th colspan="{{ cols|length }}">
                        {{ year }}
                    </th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for year, cols in columns.items() %}
                    {% for col in cols %}
                    <th>{{ col.split('_', 1)[1] }}</th>
                    {% endfor %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% if rows and columns %}
                {% for row in rows %}
                <tr>
                    <td class="sticky-col">{{ row.get('Ид', '') }}</td>
                    <td class="sticky-col">{{ row.get('Дата рождения', '') }}</td>
                    {% for year, cols in columns.items() %}
                    {% for col in cols %}
                    <td style=" text-align: right; min-width: 128px; white-space: nowrap;">
                        {{ row.get(col, '') }}
                    </td>
                    {% endfor %}
                    {% endfor %}
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
<script type="module" id="pageScript" data-page="calc_pens" src="static/js/main.js"></script>
{% endblock %}
